<header class="header">
    <h1 class="header-title">タイトル</h1>
    <nav class="header-gnavi">
        <ul class="header-gnavi__list">
            <li class="header-gnavi__item"><a href="#" class="header-gnavi__a">グローバルナビゲーション1</a></li>
            <li class="header-gnavi__item"><a href="#" class="header-gnavi__a">グローバルナビゲーション2</a></li>
            <li class="header-gnavi__item"><a href="#" class="header-gnavi__a">グローバルナビゲーション3</a></li>
            <li class="header-gnavi__item"><a href="#" class="header-gnavi__a">グローバルナビゲーション4</a></li>
            <li class="header-gnavi__item"><a href="#" class="header-gnavi__a">グローバルナビゲーション5</a></li>
        </ul>
    </nav>
</header>